In [6]:
frist=input("enter first name:")
last=input("enter last name:")
print("hello", frist +","+ last)

enter first name: kajal
enter last name: harijan

hello kajal,harijan

In [4]:
item="apple"
price=5.50
print(f"the price of {item} is {price} dollars.")

the price of apple is 5.5 dollars.

In [5]:
s=input("enter a string:")
rev=s[::-1]
print("reversed string:",rev)
if s == rev:
    print("it is a palindrome")
else:
    print("it is not a palindrome")

enter a string: python

reversed string: nohtyp
it is not a palindrome

In [2]:
s=input("enter a string:")
print("uppercase:",s.upper())
print("lowercase:",s.lower())
print("title case:",s.title())

enter a string: python

uppercase: PYTHON
lowercase: python
title case: Python

In [6]:
s="machine learning and AI are trending"
pos=s.find("AI")
print(pos)
s2=s.replace("AI","artificial intelligence")
print(s2)
text="data data mining and big data"
count=text.count("data")
print(count)

21
machine learning and artificial intelligence are trending
3

In [7]:
fruits="apple,banana,grapes".split(",")
print(fruits)
words=["python","is","awesome"]
print(" ".join(words))
multi="line one\nline two\nline three"
for line in multi.split("\n"):
    print(line)

['apple', 'banana', 'grapes']
python is awesome
line one
line two
line three

In [8]:
s="hello and welcome world"
print(s.startswith("hello"))
print(s.endswith("world"))
s2="data123#science!"
print("".join(ch for ch in s2 if ch.isalpha()))
print("python"[::-1])

True
True
datascience
nohtyp

In [9]:
#lab work 3.2
fruits=["apple","banana","cherry","orange","grapes"]
print("second fruit:",fruits[1])
print("last fruit:",fruits[-1])
fruits.append("mange")
fruits.pop(0)
fruits.sort()
fruits.reverse()
print("final list:",fruits)

second fruit: banana
last fruit: grapes
final list: ['orange', 'mange', 'grapes', 'cherry', 'banana']

In [10]:
numbers=(10,20,30,40,50)
print("third item:",numbers[2])
print("tuples cannot be changed(immutable).")

third item: 30
tuples cannot be changed(immutable).

In [11]:
list1=[1,2,3]
tuple1=(1,2,3)
list1[0]=100
print("changed list:",list1)
print("error occurs for tuple because tuple is immutable.")

changed list: [100, 2, 3]
error occurs for tuple because tuple is immutable.

In [12]:
squares=[x*x for x in range(1,11)]
print(squares)
evens=[x for x in range(1,21)if x % 2==0]
print(evens)
words=["hello","world","python"]
lowercase=[w.lower()for w in words]
print(lowercase)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
['hello', 'world', 'python']

In [ ]:
lab work 3.3

In [13]:
s={1,2,3,4,5}
s.add(6)
s.remove(3)
print(2 in s)
print(s)

True
{1, 2, 4, 5, 6}

In [14]:
set_a={1,2,3,4}
set_b={3,4,5,6}
print("union:",set_a | set_b)
print("intersection:",set_a & set_b)
print("difference:",set_a-set_b)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}

In [18]:
student={"name":"alice","age":20,"grade":"A"}
print(student.keys())
print(student.values())
student["city"]="delhi"
student["age"]= 21
del student["grade"]
print(student)

dict_keys(['name', 'age', 'grade'])
dict_values(['alice', 20, 'A'])
{'name': 'alice', 'age': 21, 'city': 'delhi'}

In [24]:
keys=['id','name','email']
values=[101,'BOb','bob@example.com']
dictionary  = d(zip(keys,values))
print(dictionary)

NameError: name 'ditc' is not defined

In [22]:
a=int('123')
print(a)
b=tuple([1,2,3])
print(b)
c=list((4,5,6))
print(c)
d=list([(1,'a'),(2,'b')])
print(d)

123
(1, 2, 3)
[4, 5, 6]
[(1, 'a'), (2, 'b')]

In [23]:
list=[10,20,30,40]
del list[2]
print(list)

[10, 20, 40]